# Node.js
node_modules/

# Logs
logs
*.log

# Operating System Files
.DS_Store

# Vercel files (for frontend only)
.vercel

# Build directories
/frontend/.next
/frontend/out

# Backend specific
/backend/node_modules/

# Environment files
.env

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory (for code coverage)
coverage/

# IDE and editor specific files
.vscode/
.idea/

# OS-specific files
Thumbs.db
